<html>
    <head>
        <title>Krishi</title>
        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="style.css">
        <script defer src="app.js"></script>
    </head>

    <body>
        <div class="navbar">
            <img src="img/logo.png" class="logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="http://127.0.0.1:5000">Project</a></li>
                <li><a href="http://127.0.0.1:4500">Budget</a></li>
            </ul>
        </div>
        <div class="banner">
            <div class="content">
                <h1 style="font-size: 300px;" class="hidden">Krishi:</h1>
                    <p style="font-size: 60px; color: rgb(255, 255, 255);" class="hidden">
                        <br>
                        The future of farming is here.
                    </p>
            </div>
            
        </div>
        <section class="hidden">
            <div>
                <h1 style="font-size: 100px;">Check Our Project:</h1>
                <br>
                <br>
                <button type="button" onclick="window.location.href = 'http://127.0.0.1:4500';"><span></span>Project</button>
                &emsp;
                &emsp;
                &emsp;
                &emsp;
                <button type="button" onclick="window.location.href = 'http://127.0.0.1:5000';"><span></span>Budget</button>
            </div>    
        </section>
        <section class="hidden">
            <div class="">
                <br>
                <br>
                <br>
                <h1 style="font-size: 100px;">About Project:</h1>
                <br>
                <p style="font-size: 40px; color: rgb(12, 12, 12);">
                    <b>KRISHI</b> is an innovative agricultural tool designed to assist farmers in making informed decisions about crop cultivation. Leveraging advanced image analysis capabilities, KRISHI analyzes land images to determine soil type and provides tailored crop recommendations based on geographic location and seasonal variations. Additionally, KRISHI facilitates interactive communication, allowing users to inquire about optimal crops for specific soil conditions and cultivation strategies. Through sophisticated algorithms, KRISHI factors in seasonal variations and recent rainfall patterns to offer precise suggestions. Its intuitive interface enables users to upload images, input relevant data such as rainfall metrics, and engage in dialogue effortlessly. KRISHI delivers recommendations in a professional and accessible format, empowering farmers with actionable insights to enhance agricultural productivity and sustainability.
                </p>
            </div>
        </section>
        
        
    </body>
</html>